@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Overpass&display=swap');

html{
  --color-1: #309FA8;
  --color-2: #123C40;
  --color-3: #257880;
}

body{
  background-color: var(--color-1);
  color: #353D40;
  font-family: 'Overpass', sans-serif;
}

.App {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: calc(100vh - 4rem);
}

.window{
  display: flex;
  flex-flow: column;
  border: 0.1rem solid var(--color-2);
  margin: 1rem;
  width: 45vw;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0,0,0,0.5);

}

#editor-content{
  padding: 0;
  overflow: hidden;
}

.window-header{
  border-bottom: 0.1rem solid var(--color-2);
  padding: 0.3rem;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255,0.9);
  text-shadow: 0.1rem 0.1rem 0.3rem #123C40;
}

.window-content{
  padding: 1rem 2rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: rgba(255,255,255,0.7);
}

#editor{
  resize: none;
  width: 100%;
  height: 100%;
  padding: 1rem;  
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: 'Cutive Mono', monospace;
  font-size: 1rem;
}

code{
  font-family: 'Cutive Mono', monospace;
}

blockquote {
  border-left: 1rem solid var(--color-3);
  margin: 1.5em 1rem;
  padding: 0.5em 1rem;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--color-3);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

table {
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 4px;
  border: 0.1rem solid var(--color-3);
}

footer{
  text-align: center;
  background-color: #6A7A80;
  color: rgba(255,255,255,0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
  border-top: 0.1rem solid var(--color-2)
}


@media (orientation: portrait) {
  .window{
    width: 90vw;
    height: calc(50vh - 3rem);
  }
}